<!DOCTYPE html>
<html>
<head>
	<title>HostelLife - More than a Hostel, a Life Experience</title>
	<link rel = "icon" href = "/logo/logo.jpg" type = "image/x-icon"> 
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Concert+One|Roboto|Spectral|Yatra+One|Rubik|Source+Sans+Pro&display=swap" rel="stylesheet">
	<meta name="theme-color" content="#000">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

	<style type="text/css">
		h2{
			width: 100%;
			font-family: 'Open Sans', sans-serif;
			text-align: center;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
		a {
			display: block;
			text-align: center;
		}
	</style>
</head>
<body>
	<h2><%= msg %></h2>
	<a href="/">Back to Home Page</a>

</body>
</html>